
.container{
  display: grid;
  justify-content: center;
  align-items: center;
  height:40vh;
  width: 40vh;
  background-color: bisque;
  border-radius: 10px;
}
.card {
  padding:400px;
  justify-content: center;
  height: 400px;
  width: 400px;
  border: 1px solid #000;
}


